html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Comic Sans MS'
}


.announcement .title {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.featured, .list {
    width: 50vw;
    height: 100vh;
    display: inline-block;
    position: absolute;
    top: 0;
}

.announcement {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #888888;
}

.featured {
    background-color: #CED0FD;
}

.featured h1 {
  text-align: center;
  font-size: 42px;
}

.featured div {
  text-align: center;
}

.list {
    right: 0;
}
